body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    padding: 20px;
}

h2 {
    color: #333;
}
.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.section .box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 48%;
}
.section .boxx{
    background: #F6E696;
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 48%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f5f5f5;
}
.shortcuts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.shortcut-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}
#hrs::after{
    content: 'hrs';
}

#mins::after{
    content: 'ms';
}

